
table {
    width: calc(100% - 40px);
}

th {
    margin: 5%;
    width: calc(95% / 7);
}

td, th {    
    border: black 1px solid;
    padding: 5px;
}

button {
    font-size: 1.5em;
}

table, button {
    margin: 20px;
}

button {
    margin-top: 0;
}

@media screen {
    .dessertRow {
        background-color: coral;
    }
}

.noteRow {
    height: 25px;
}
