select, input {
    display: block;
    margin: 0.5em 0 0 3em;
}

select {    
    width: calc(100% - 3em);
}
input {
    width: calc(100% - 3.5em);
}

select:last-child {
    margin-bottom: 0.5em;
}

@media print {
	select, input {
		display: none;
	}
}

.note {
    font-size: 0.5em;
    font-style: italic;
}

.noteInput {
    width: calc(100% - 1em);
    margin-left: 0.5em;
}
