select, input {
    display: block;
    margin: 0.5em 0 0 3em;
}

select {    
    width: calc(100% - 3em);
}
input {
    width: calc(100% - 3.5em);
}

select:last-child {
    margin-bottom: 0.5em;
}

@media print {
	select, input {
		display: none;
	}
    .meal-print {
        font-size: 12px;
    }
} 

.note {
    font-size: 9px;
    font-style: italic;
}

.noteInput {
    width: calc(100% - 1em);
    margin-top: 1em;
    margin-left: 0.5em;
    margin-top: 20px;
}

@media only screen and (max-width: 900px) {
    /* For mobile phones: */
    select {    
        width: calc(95%);
    }
    input {
        width: calc(95% - 7px);
    }
    select, input {        
        margin: 5px 0 0 2px;
    }
    .noteInput {
        width: 95%;
        margin-left: 0;
        margin-top: 15px;
    }
}
