form {
    margin-bottom: 2em;
}

form select, form input[type="submit"] {
    width: 100px;
}

form input {
    width: 250px;
}

form input, form select, form label {
    margin-left: 1em;
    display: inline;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    margin: 1em 0 0.2em 0.5em;
}